/* global variables */
body {
  background: #000000;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

body #root {
  /* header */
  /* daily photo container */
}

body #root header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #000000;
  z-index: 1000;
}

body #root header.sticky {
  -webkit-box-shadow: 18px 0px 77px 0px rgba(255, 255, 255, 0.23);
          box-shadow: 18px 0px 77px 0px rgba(255, 255, 255, 0.23);
}

body #root header .header-container {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #root header .header-container img {
  width: 90px;
  height: auto;
  -webkit-transition: ease 0.50s;
  transition: ease 0.50s;
}

body #root header .header-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body #root header .header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #root header .header-container ul li {
  position: relative;
  list-style: none;
}

body #root header .header-container ul li a {
  padding: 10px 27px;
  position: relative;
  -webkit-transition: ease .50s;
  transition: ease .50s;
}

body #root header .header-container ul li a::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  border: 2px solid #ffffff;
  -webkit-transition: ease .40s;
  transition: ease .40s;
}

body #root header .header-container ul li a:hover::after {
  display: block;
}

body #root .apod {
  width: 1200px;
  margin: 180px auto 100px;
}

body #root .apod form {
  width: 132px;
  margin-bottom: 6px;
  background-color: #000000;
  border-radius: 5px;
}

body #root .apod form input {
  padding: 8.5px;
  border: 2px solid #ffffff;
  color-scheme: dark;
}

body #root .apod #photo-card, body #root .apod #video-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

body #root .apod #photo-card h2, body #root .apod #video-card h2 {
  margin-bottom: 44px;
  font-weight: 500;
}

body #root .apod #photo-card p, body #root .apod #video-card p {
  line-height: 1.3;
  font-weight: 300;
}

body #root .apod #photo-card .apod-img, body #root .apod #video-card .apod-img {
  text-align: center;
}

body #root .apod #photo-card .apod-img img, body #root .apod #video-card .apod-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

body #root .about {
  width: 1200px;
  padding-top: 180px;
  margin: 0 auto 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

body #root .about img {
  width: 100%;
  display: block;
}

body #root .about h3 {
  margin-bottom: 30px;
  text-align: right;
  font-weight: 300;
}

body #root .about h2 {
  margin-bottom: 57px;
  text-align: right;
  font-size: 32px;
  font-weight: 500;
}

body #root .about p {
  line-height: 1.3;
  font-weight: 300;
  text-align: right;
}

body #root .about p a {
  text-decoration: underline;
}

body #root #gallery {
  width: 1200px;
  margin: 20px auto 100px;
}

body #root #gallery h2 {
  margin-bottom: 57px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

body #root #gallery #photo-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root #gallery #photo-container div {
  height: 255px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body #root #gallery #photo-container div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body #root #gallery #photo-container div p {
  font-size: 16px;
  padding: 10px 0 10px;
}

body #root #gallery #photo-container div img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

body #root #gallery #photo-container div iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 19px;
}

body div.modal {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: -1px;
  background-color: rgba(0, 0, 0, 0.733);
  -webkit-animation: zoom 0.3s ease-in-out;
          animation: zoom 0.3s ease-in-out;
  z-index: 1001;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body div.modal h1 {
  margin: 10px 0;
  color: #ffffff;
}

body div.modal img {
  max-width: 940px;
  max-height: 600px;
}

body div.modal p {
  max-width: 900px;
  margin: 10px 0;
  color: #ffffff;
}

body div.modal button {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */