/* global variables */
$bg-color: #000000;
$text-color: #ffffff;
$font-family: 'Poppins', sans-serif;


body {
    
    background: $bg-color;
    color: $text-color;
    font-family: $font-family;
    
    #root {
        /* header */ 
        header {
            width: 100%;
            padding: 20px 18%;
            position: fixed;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $bg-color;
            z-index: 1000;

            &:hover {
                box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.979);
            }
        
            img {
                width: 90px;
                height: auto;
            }
        
            ul {
                display: flex;

                li {
                    position: relative;
                    list-style: none;

                    a {
                        padding: 10px 27px;  
                        transition: ease .50s;

                        &:hover {
                            border: 2px solid $text-color;
                        }
                    }
                }
            }
        }
        
        /* daily photo container */
        .apod {
            padding: 180px 18% 100px;
            
            form {
                width: 132px;
                margin-bottom: 6px;
                background-color: $bg-color;
                border-radius: 5px;
                
                input {
                    padding: 8px;
                    border: 2px solid $text-color;
                    color-scheme: dark;
                }
            }
            
            #photo-card, #video-card {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                gap: 4rem;

                h2 {
                    margin-bottom: 44px;
                    font-weight: 500;
                }

                p {
                    line-height: 1.6;
                }

                .apod-img {
                    
                    text-align: center;

                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                }

            }
        }

        #gallery {
            padding: 20px 18% 100px;

            h2 {
                margin-bottom: 57px;
                text-align: center;
                font-size: 32px;
                font-weight: 500;
            }

            #photo-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.2rem;
                align-items: center;

                img, iframe {
                    max-width: 100%;
                    width: 550px;
                    height: auto;
                    display: block;
                    object-fit: cover;
                }
            }

        }



    }

    div.modal {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin-top: -1px;
        background-color: rgba(0, 0, 0, 0.733);
        animation: zoom 0.3s ease-in-out;
        z-index: 1001;

        @keyframes zoom {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
        }

        h1 {
            margin: 10px 0;
            color: #ffffff;
        }

        img {
            max-width: 940px;
            max-height: 600px;
        }

        p {
            max-width: 900px;
            margin: 10px 0;
            color: #ffffff;
        }
        
        button {
            position: absolute;
            top: 12px;
            right: 12px;
            color: #ffffff;
        }
    }

}
