/* global variables */
$bg-color: #000000;
$text-color: #ffffff;
$font-family: 'Montserrat', sans-serif;


body {
    
    background: $bg-color;
    color: $text-color;
    font-family: $font-family;
    
    #root {
        /* header */ 
        header {
            width: 100%;
            position: fixed;
            top: 0;
            right: 0;
            background: $bg-color;
            z-index: 1000;
            
            &.sticky {
                box-shadow: 18px 0px 77px 0px rgba(255, 255, 255,  0.23);
            }
            
            .header-container {
                width: 1200px;
                height: 100px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;


                img {
                    width: 90px;
                    height: auto;
                    transition: ease 0.50s;
    
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            
                ul {
                    display: flex;
    
                    li {
                        position: relative;
                        list-style: none;
    
                        a {
                            padding: 10px 27px;  
                            position: relative;
                            transition: ease .50s;

                            &::after {
                                content: '';
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                position: absolute;
                                display: none;
                                border: 2px solid $text-color;
                                transition: ease .40s;
                            }

                            &:hover::after {
                                display: block;
                            }
    
                        }
                    }
                }


            }
        
        }
        
        /* daily photo container */
        .apod {
            width: 1200px;
            margin: 180px auto 100px;
            
            form {
                width: 132px;
                margin-bottom: 6px;
                background-color: $bg-color;
                border-radius: 5px;
                
                input {
                    padding: 8.5px;
                    border: 2px solid $text-color;
                    color-scheme: dark;
                }
            }
            
            #photo-card, #video-card {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                gap: 4rem;

                h2 {
                    margin-bottom: 44px;
                    font-weight: 500;
                }

                p {
                    line-height: 1.3;
                    font-weight: 300;
                }

                .apod-img {
                    
                    text-align: center;

                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                }

            }
        }

        .about {
            width: 1200px;
            padding-top: 180px;
            margin: 0 auto 100px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 4rem;

            img {
                width: 100%;
                display: block;
            }

            h3 {
                margin-bottom: 30px;
                text-align: right;
                font-weight: 300;
            }

            h2 {
                margin-bottom: 57px;
                text-align: right;
                font-size: 32px;
                font-weight: 500;
            }
            
            p {
                line-height: 1.3;
                font-weight: 300;
                text-align: right;

                a {
                    text-decoration: underline;
                }
            }
        }

        #gallery {
            width: 1200px;
            margin: 20px auto 100px;

            h2 {
                margin-bottom: 57px;
                text-align: center;
                font-size: 32px;
                font-weight: 500;
            }

            #photo-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.2rem;
                align-items: center;

                div {
                    height: 255px;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }

                    p {
                        font-size: 16px;
                        padding: 10px 0 10px;
                    }

                    
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                    }

                    iframe {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 19px;

                    }
                }


            }

        }



    }

    div.modal {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin-top: -1px;
        background-color: rgba(0, 0, 0, 0.733);
        animation: zoom 0.3s ease-in-out;
        z-index: 1001;

        @keyframes zoom {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
        }

        h1 {
            margin: 10px 0;
            color: #ffffff;
        }

        img {
            max-width: 940px;
            max-height: 600px;
        }

        p {
            max-width: 900px;
            margin: 10px 0;
            color: #ffffff;
        }
        
        button {
            position: absolute;
            top: 12px;
            right: 12px;
            color: #ffffff;
        }
    }

}
